@import './base.css';

:root:root {
    --van-cell-group-title-color: --dark-color;
    --van-field-placeholder-text-color: --dark-color;
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
}

#app {
  min-height: 100vh;
}
